html{
  
  --prim-color: #264e70;
  color: white;
  background: url('./assets/galaxy.jpg');
  background-size: cover;
background-repeat: no-repeat;
}

.loginbg{
  width:100vw;
  height:105vh;
}
.loginpanel{
  background-color: var(--prim-color);
  width: 30vw;
  border: 1px solid gray;
  border-radius: 5px;
  margin:25vh auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.loginpanel h1{
  width:100%
}
.loginpanel input{
  width:70%;
  height: 30px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  padding-left: 5px;
}
button{
  background: #ef6c57;
  border-radius: 5px;
  padding: 5px 20px;
  font:normal bold 18px "Open Sans", san-serif;
  text-align: center;
  margin-bottom: 5px;
  width: 160px;
}


button:hover{
  background-color: #9c3829;
  transition: all 0.3s;
}